@model List<Reader>
@{
    ViewData["title"] = "All Readers";
}

<style>
    table 
    {
        border-collapse: collapse;
        width: auto;
    }

    /* Only apply border to the first three columns */
    th:nth-child(1),
    th:nth-child(2),
    th:nth-child(3),
    td:nth-child(1),
    td:nth-child(2),
    td:nth-child(3)
    {
        border: 1px solid black;
    }

    th, td 
    {
        padding: 4px; 
        text-align: left;
    }

    td a 
    {
        margin-right: 8px;
    }

    input[type="text"] {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
</style>

<h1>All Readers:</h1>
@if(Model != null && Model.Count() > 0)
{
    <form asp-action="Index" method="get">
        <input type="text" name="search" placeholder="Search (Name, Email)" />
        <input type="submit" value="Search" />
    </form>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var reader in Model)
            {
                <tr>
                    <td>@reader.Id</td>
                    <td>@reader.Name</td>
                    <td>@reader.Email</td>
                    <td><a asp-controller="Reader" asp-action="Details" asp-route-id="@reader.Id">Details</a></td>
                    <td><a asp-controller="Reader" asp-action="Edit" asp-route-id="@reader.Id">Edit</a></td>
                    <td><a asp-controller="Reader" asp-action="Delete" asp-route-id="@reader.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
<a asp-controller="Reader" asp-action="Add">Add</a>